@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');




:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);


}

body{

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    //background-color: rgb(53, 121, 53);


    h1, 
    h2, 
    h3, h4, 
    h5, 
    h6{
        font-family: 'DM Serif Display', serif;
    }
    img{
        width: 100%;
        height: auto;
    }
    .wrapper{
        width: 95%;
        max-width: 1111px;
        margin: 0 auto;
    }
    .hamburger{
        display: none;
    }
}
header{

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
       // background-color: green;
        min-height: 80px;
        .nav{
            display: flex;
            //color: white;
            //text-decoration: none;
            list-style: none;
        }
        a{
            text-decoration: none;
            color: var(--dark-grayish-violet);
            padding: 15px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;

            transition: 0.2s;
            
        }
        a:hover{
            color: var(--very-dark-violet)
        }
        .btn-primary-Plans{
            padding: 13px 28px;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid var(--very-light-gray);

            color: var(--very-light-gray);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;

            transition: 0.2s;
            
        }
        .btn-primary-Plans:hover{
            
            background-color: var(--very-light-gray);
            color: var(--very-dark-violet);
            cursor: pointer;
        
        }
        a.btn-primary-Plans{
            margin-left: 20px;
            padding: 13px 28px;
            border: 2px solid var(--very-dark-violet);

            color: var(--very-dark-violet);
        }
        a.btn-primary-Plans:hover{
            background-color: var(--very-dark-violet);

            color: var(--very-light-gray)
        }
    }
}
/* The second section*/
.family{
    padding-top: 105px;
    padding-bottom: 128px;
    background-color: var(--dark-violet);

    color: var(--very-light-gray);
    position: relative;

    

    .wrapper{
        position: relative;
        .text{
            width: 47%;
            padding-top: 65px;
        }
        
        
    }  
    .img-container{
        width: 48%;

        position: absolute;
        right: 0;

    }
    .text::before{
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background-color: #D7CED8;
        border-radius: 1px;

        position: absolute;
        top: 0;
        left: 0;
    }

    
    
    h1{
        font-size: 70px;
        line-height: 66px;
        font-weight: 400;
    }
    p{
        margin: 35px 0;

        line-height: 1.5;
    }

    .btn-primary{
        padding: 13px 28px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--very-light-gray);

        color: var(--very-light-gray);
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;

        //transition: 0.2s;

    }
    .btn-primary:hover{
        background-color: var(--very-light-gray);
        color: var(--very-dark-violet);
        cursor: pointer;
    }
    
    



}

.family::before{
    content: '';
    display: block;
    height: 504px;
    width: 195px;
    position: absolute;
    background-image: url('/insure/images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    bottom:-344px;
    left: 0;
}
.family::after{
    content: '';
    display: block;
    background-image: url('/insure/images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    height: 593px;
    width: 463px;

    position: absolute;
    background-position: center -79px;
    right: 0;
    top: 0;
}

.boxes{
    padding-top: 305px;
    position: relative;
    .wrapper{
        padding-top: 75px;
        position: relative;

        ::before{
            content: '';
            display: block;
            width: 150px;
            height: 2px;
            background-color: #D7CED8;
            border-radius: 1px;
          
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    h2{
        font-size: 70px;
        line-height: 66px;
        font-weight: 400;
        color: var(--very-dark-violet);
    }
    h3{
        margin-top: 40px;
        margin-bottom: 25px;

        font-size: 26px;
        color: var(--dark-violet);
    }

    img{
        width: 25%;
        height: auto;
    }
    .grid-container{
        margin-top: 100px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 54px;
        //justify-content: space-between;
        //align-content: center;

    }
    .box{
        //background-color: green;;
    }
    p{
        line-height: 1.5;
        color: var(--dark-grayish-violet)
    }
}

.workarea{
    margin-top: 160px;
    //background-color:brown;
    .wrapper{
        display: flex;
        justify-content: space-between;
        //padding: 3em;
        align-items: center;

        padding: 75px 80px;
        background-color: var(--dark-violet);
        background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
        background-position: right top;
        background-repeat: no-repeat;
    }
    h2{
        font-size: 55px;
        line-height: 50px;
        font-weight: 400;
        font: bolder;
        color: var(--very-light-gray)
    }
    span.break{
        display: block;
    }
    .btn-primary{
        padding: 13px 28px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--very-light-gray);

        color: var(--very-light-gray);
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;

        transition: 0.2s;
    }
    .btn-primary:hover{
        background-color: var(--very-light-gray);
        color: var(--very-dark-violet);
        cursor: pointer;
    }
    
      
   
}
footer{
   // background-color: green;
    margin-top: 150px;
    padding-top: 65px;
    padding-bottom: 120px;
    background-color: var(--very-light-gray);
    background-image: url('../images/bg-pattern-footer-desktop.svg');
    background-position: left top;
    background-repeat: no-repeat;
    .footer-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 35px;
        border-bottom: 2px solid #E4E4E4;
        .socials{
            list-style: none;
            display: flex;
            margin-left: 8px;
            li{
                margin-left: 8px;

                font-size: 24px;
                color: #837D87;

                transition: 0.2s;
                i:hover{
                    cursor: pointer;
                   color: var(--very-dark-violet);

                }
            }

        }
    }


    .nav-section{
        display: flex;
        justify-content: space-between;
        h2{
            margin-bottom: 45px;
            margin-top: 50px;

            color: var(--dark-grayish-violet);
        }
        h2:hover{
            cursor: default;
        }

        .list-items{
            list-style: none;
            li{
                margin-bottom: 20px;

                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
                font: bolder;
                color: var(--very-dark-violet);
            }
            li:hover{
                cursor: pointer;
            }
        }

    }
}
.attribution{
    align-items: center;
    text-align: center;
}
